* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #CBF6FF;
}

ul {
    overflow: hidden;
}

nav ul li a {
    text-decoration: none;
    list-style: none;
    color: white;
    float: right;
}
.navbar {
    background: linear-gradient(113.99deg, #10BFE5 37.04%, #47DCD3 80.4%);
    color: white;
}

.home-hero {
    text-align: center;
}

.logo {
    height: 50%;
    width: 50%;
    margin: 2rem;
}
