* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #CBF6FF;
    font-family: sans-serif;
}

#alert {
    background: red;
    color: white;
}

.home-hero {
    text-align: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(113.99deg, #10BFE5 37.04%, #47DCD3 80.4%);
    color: white;
}

.nav-header {
    font-size: 1.5rem;
    margin: .5rem;
}

.nav-links ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-links li {
    list-style: none;
}

.nav-links li a {
    text-decoration: none;
    color: white;
    padding: .5rem;
    display: block;
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background: white;
    border-radius: 10px;
}

.logo {
    height: 30%;
    width: 30%;
    margin: 2rem;
}

@media (max-width: 420px) {
    .toggle-button {
        display: flex;
    }

    .nav-links {
        display: none;
        width: 100%;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-links ul {
        width: 100%;
        flex-direction: column;
    }

    .nav-links li {
        text-align: center;
    }

    .nav-links li a {
        padding: .5rem 1rem;
    }

    .nav-links.active {
        display: flex;
    }
}
